*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins";
    background-color: #87CEEB; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Menggunakan height 100vh agar konten tetap berada di tengah vertikal *
  
}

.profile{  /" manggil class div */
    text-align: center; /*biar di tengah */
    margin-bottom: 10px; /* jarak ke bawah segitu */

}

.profile img{ /* manggil elemen dalam class div */
    max-width: 150px;
    width: 100%;
    height: auto;
    border-radius: 10%; /*rasio buletannya */
    border: 3px solid white; /*bentuk lingkaran */
    box-shadow: 0 0 10px rgb(225, 248, 220); /*bayangan halus*/;
}

.profile h1{ /* manggil elemen h1 dalam class div */
    margin-top: Spx;
    font-size: 24px;
    color:aliceblue;
}

.profile p {
    font-size: 18px; /* ukuran huruf deskripsi */
    color: #666; /* warna deskripsi */
  }
  
  .link {
    text-align: center;
    width: 100%;
    display: flex; /* Mengubah tata letak link menjadi flex */
    flex-direction: column; /* Menjadikan tata letak kolom */
  }
  
  .link a {
    display: inline-block; /* Mengubah link menjadi inline-block */
    margin: 5px; /* Jarak antara link */
    text-decoration: none;
    background-color:#EFC3CA; /* warna latar tombol */
    color:aliceblue; /* warna teks tombol */
    padding: 10px;
    border-radius: 5px; /* sudut tombol */
    transition: background-color 0.3s; /* transisi saat dihover */
  }
  
  .link a:hover {
    background-color: bisque; /* warna latar saat dihover */
  }
  
  footer {
    text-align: center;
    margin-top: auto; /* Menggunakan margin-top auto agar footer berada di tengah vertikal */
    font-style: italic; /* gaya huruf miring */
    color: #888; /* warna teks footer */
  }
  
  /* Media queries untuk perangkat mobile */
  @media (max-width: 600px) {
    .profile img {
      max-width: 100px; /* Mengurangi lebar gambar profil di perangkat mobile */
    }
  
    .profile h1 {
      font-size: 20px; /* Mengurangi ukuran huruf nama di perangkat mobile */
    }
  
    .profile p {
      font-size: 16px; /* Mengurangi ukuran huruf deskripsi di perangkat mobile */
    }
  
    .link a {
      margin: 5px; /* Mengurangi jarak antara tautan di perangkat mobile */
      padding: 8px 15px; /* Mengurangi padding tombol di perangkat mobile */
      font-size: 14px; /* Mengurangi ukuran teks tombol di perangkat mobile */
    }
  
    footer {
      font-size: 12px; /* Mengurangi ukuran teks footer di perangkat mobile */
    }
  }

  @media (max-width: 600px)
  .profile img{
    max-width: 100px; /* Menguraangi lebar dalam berbagai mobile */

  }

  .profile h1{
    font-size: 20px;

  }
  
  .profile p{
    font-size: 16px;
  }

